li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.accordion {
    margin: auto;
    width: 460px;
    text-align: center;
}

.accordion__item {
    background-color: #e7e7e7;
    border-radius: 25px;
    margin: 10px 0;
}

.item__title {
    border-radius: 25px;
    padding: 15px;
}

.item__text {
    display: none;
    padding: 15px;
}

.accordion__item:nth-child(odd) .item__title {
    background-color: #696666;
}

.accordion__item.active .item__title {
    background-color: #ff8663;
}

.accordion__item.active .item__text {
    display: block;
}